.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin-left: 300px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  